<header class="site-header">
  {% if page.url == "/" %}
  <h1 class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></h1>
  {% else %}
  <p class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></p>
  {% endif %}
  <nav class="site-navigation">
    <div class="site-navigation-wrap">
      <h2 class="screen-reader-text">Main navigation</h2>
      <ul class="menu">
        {% for item in site.navigation %}
        {% assign current = nil %}
        {% if page.url == item.url %}
        {% assign current = 'nav-current' %}
        {% endif %}
        <li class="menu-item {{ current }}">
          <a class="{{ current }}" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
        {% if node.title != null %}
        {% if node.layout == "category" %}
        <li><a class="menu-item {% if page.url == node.url %} nav-current{% endif %}"
               href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul><!-- .menu -->
      <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span
          class="icon-close" aria-hidden="true"></span></button>
    </div><!-- .site-navigation-wrap -->
  </nav><!-- .site-navigation -->
  <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
</header>

{% if site.description and site.description != "" and page.url == "/" %}
<div class="site-description fadeInDown delay_05s">
  <p>{{ site.description }}</p>
</div><!-- .site-description -->
{% endif %}
<div style="margin: 0 auto; width: 728px">
<ins class="kakao_ad_area" style="display:none;"
     data-ad-unit = "DAN-6LP4XiiHud7qbfoG"
     data-ad-width = "728"
     data-ad-height = "90"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>