<script>
    Prism.hooks.add('after-highlight', function(env) {
        env.element.style.display = "none"
    })

    function showCode() {
        document.getElementById("more_view1_hidden").style.display = "none";
        let codes = document.getElementsByTagName("code")
        for(let i=0;i<codes.length;i++) {
            codes[i].style.display = "block";
        }
    }
</script>
<div class="kakao-adfit-content">
    <a href="https://link.coupang.com/a/bmKWqB" onclick="showCode()" target="_blank" referrerpolicy="unsafe-url"><img src="https://image13.coupangcdn.com/image/affiliate/event/promotion/2024/01/02/d5891507add7003701108894118c8393.png" alt=""></a>
    <div style="font-size: 9pt; color: #838383">"이 포스팅은 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다."</div>
</div>
<div id="more_view1_hidden" style="display: block; color: #2455af" class="kakao-adfit-content">
    <b style="font-size: 11pt">위 광고를 클릭해주시면 코드가 나타납니다.</b>
    <br/>
</div>

