<script>
    Prism.hooks.add('after-highlight', function(env) {
        document.getElementById("more_view1").style.display = "none";
    })

    function showCode() {
        document.getElementById("more_view1_hidden").style.display = "none";
        document.getElementById("more_view1").style.display = "block";
    }
</script>
<div class="kakao-adfit-content">
    <a href="https://link.coupang.com/a/bmBnqY" onclick="showCode()" target="_blank" referrerpolicy="unsafe-url"><img src="https://ads-partners.coupang.com/banners/745953?subId=&traceId=V0-301-371ae01f4226dec2-I745953&w=300&h=250" alt=""></a>
    <div style="font-size: 9pt; color: #838383">"이 포스팅은 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다."</div>
</div>
<div id="more_view1_hidden" style="display: block" class="kakao-adfit-content">
    <b style="font-size: 11pt">위 광고를 클릭해주시면 코드가 나타납니다.</b>
    <br/>
</div>
<div id="more_view1">
